{% extends 'base.html' %}

{% block content %}

<div>
    <h5 class="title is-5 has-text-centered">Polished was developed by Natalie Perez out of a love for nail polish, oranization, and technology. <br /> <br /> Technologies used: <br /> <br />
        Django <br /> <br />

        Python <br /> <br />

        SQL <br /> <br />

        Bulma <br /> <br />

        HTML <br /> <br />

        CSS <br /> <br />

    <a class="button is-light is-centered" href="https://github.com/npereznyc/polished_fullstack">GitHub Repo</a>
    <br /> <br /> General Assembly October, 31, 2022 cohort.
</div>


{% endblock %}