{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}{{brand.name}}{% endblock %}

{% block content %}

<h1 class="title pt-5"> {{brand.name}} Polishes</h1>
<div class="gallery">
  {% for polish in brand.polishes.all %}
  <a href="{% url 'polish_reviews' polish.pk %}">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">{{polish.name}}</p>
      </div>
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{polish.image}}" alt="{{polish.name}}" />
        </figure>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item">Save to Favorites</a>
      </footer>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Polishes Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}