{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'home' %}">Clear Search</a>
</form>

<h5 class="title">Welcome to Polished! Search by polish name or brand above, or choose a brand below to begin exploring.</h5>
<h1 class="title pt-5">{{header}}:</h1>
<div class="gallery">
  {% for brand in brands %}
  <a href="">
    <div class="card">
      <div class="card-image">
        <!-- <figure class="image is-square">
          <img src="{{brand.image}}" alt="{{brand.name}}" />
        </figure> -->
      </div>
      <div class="card-header">
        <p class="card-header-title">{{brand.name}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}