{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="name" placeholder="search by brand" />
    </div>
    <div class="control">
      <input class="button is-light" type="submit" value="Search" />
    </div>
  </div>
  <a class="button is-light" href="{% url 'home' %}">Clear Search</a>
</form>

<h5 class="title has-text-centered">Welcome to Polished! <br /> Search for a brand above or choose a brand below to
  begin exploring.</h5>
<h1 class="title pt-5">{{header}}:</h1>
<div class="gallery">
  {% for brand in brands %}
  <a href="{% url 'brand_detail' brand.pk %}">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">{{brand.name}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}