{% extends 'base.html' %}

{% block title %}Polishes{% endblock %}

{% block content %}
<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="name" placeholder="search by polish name" />
    </div>
    <div class="control">
      <input class="button is-light" type="submit" value="Search" />
    </div>
  </div>
  <a class="button is-light" href="{% url 'polish_list' %}">Clear Search</a>
</form>
<h1 class="title pt-5">{{header}}</h1>
<div class="gallery">
  {% for polish in polishes %}
  <a href="{% url 'polish_reviews' polish.pk %}">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">{{polish.name}} by {{polish.brand}}</p>
      </div>
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{polish.image}}" alt="{{polish.name}}" />
        </figure>
      </div>
      <footer class="card-footer">
        {% if user.is_authenticated %}
        <a href="{% url 'add_favorite' polish.id%}" class="card-footer-item">Save to Favorites</a>
        <!-- the conditional below is not working as intended. it will change the footer on all cards but not on the specific cards wanted. -->
        {% elif polish.favorites %} 
        <a href="{% url 'add_favorite' polish.id%}" class="card-footer-item">Remove from Favorites</a>
        {% else %}
        <a href="{% url 'login' %}" class="card-footer-item">Save to Favorites</a> 
        {%endif%}
      </footer>
    </div>
  </a>
  {% empty %}
  
  <article class="message">
    <div class="message-header">
      <p>No Polishes Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}