{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{review.image}}" alt="{{polish.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{polish.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'update_review' review.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'delete_review' review.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">Review</h4>
        <p>{{review.review}}</p>
    </div>
</div>

{% endblock %}