{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}All Reviews{% endblock %}

{% block content %}

<h1 class="title pt-5">Polish Reviews & Swatches</h1>
<a class="button is-dark" href="{% url 'create_review' %}">Add A Review!</a>
<div class="gallery">
  {% for review in reviews %}
  <a href="{% url 'review_detail' review.pk %}">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">{{review.polish}} by {{review.brand}}</p>
      </div>
      <div class="card-image">
        <figure class="image is-square">
          {% for photo in review.photo_set.all %}
          <img src="{{photo.url}}" alt="{{photo.review}}" />
          {% empty %}
          <div>No Photos Uploaded</div>
          {% endfor %}

        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          {{review.review}}
        </div>
      </div>
  
    </div>
</div>
</a>
{% empty %}
<article class="message">
  <div class="message-header">
    <p>No Reviews Yet</p>
  </div>
</article>
{% endfor %}
</div>
{% endblock %}